.header {
    width: 100%;
    background: #d3d7d3;
    height: 60px;
    display: flex;
    min-width: 485px;
}

.buttonGroup {
    display: flex;
    padding-top: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: 0;
}

.buttonCreate {
    margin-left: 10px;
    height: 24px;
}

.buttonDelete {
    height: 24px;
}

.title {
    padding-top: 10px;
    padding-left: 10px;
    min-width: 300px;
}
